.bgr-image-contain{
    background-repeat: no-repeat;
    background-size: contain;
}

.bgr-image-cover{
    background-repeat: no-repeat;
    background-size: cover;
}

.d-flex{
    display: flex !important;
}

.d-block
{
    display: block;
}

.txt-white
{
    color: white;
}

.txt-black
{
    color: black;
}

.txt-threedots
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.center-items{
    justify-content: center;
    align-items: center;
}

.j-center
{
    justify-content: center;
}

.j-spread-around
{
    justify-content: space-around;
}

.j-end
{
    justify-content: flex-end;
}

.al-center
{
    align-items: center;
}

.al-self-start
{
    align-items: self-start;
}

.c-poiter
{
    cursor: pointer;
}

.d-none
{
    display: none !important;
}

.pd-l-16
{
    padding-left: 16px;
}

.pd-l-24
{
    padding-left: 24px;
}

.pd-l-6
{
    padding-left: 6px;
}

.pd-l-12
{
    padding-left: 12px;
}

.pd-l-14
{
    padding-left: 14px;
}

.pd-l-10
{
    padding-left: 10px;
}

.pd-r-16
{
    padding-right: 16px;
}

.pd-r-12
{
    padding-right: 12px;
}


.cl-red
{
    color: red;
}

.txt-italic
{
    font-style: italic;
}

.fz-12
{
    font-size: 12px;
}

.fz-22
{
    font-size: 22px;
}

.pd-t-2
{
    padding-top: 2px;
}

.pd-t-16
{
    padding-top: 16px;
}

.pd-t-10
{
    padding-top: 10px;
}

.fit-content{
    height: fit-content;
    width: fit-content;
}

.fw-500
{
    font-weight: 500 !important;
}

.fw-600
{
    font-weight: 600;
}
.w-80
{
    width: 80% !important;
}

.w-90
{
    width: 90% !important;
}

.w-60
{
    width: 60% !important;
}

.w-96
{
    width: 96% !important;
}

.w-100
{
    width: 100% !important;
}

.w-auto
{
    width: auto !important;
}

.w-98
{
    width: 98% !important;
}

.w-50
{
    width: 50% !important;
}

.w-48
{
    width: 48% !important;
}

.w-24
{
    width: 24% !important;
}

.w-20
{
    width: 20% !important;
}

.w-70
{
    width: 70% !important;
}

.w-88-2
{
    width: 88.5% !important;
}

.mg-auto
{
    margin: auto;
}

.mg-r-10{
    margin-right: 10px;
}

.mg-r-16{
    margin-right: 16px;
}

.mg-r-12{
    margin-right: 12px;
}

.mg-t-10{
    margin-top: 10px;
}

.mg-t-16{
    margin-top: 16px;
}

.mg-t-26{
    margin-top: 26px;
}

.mg-t-60{
    margin-top: 60px;
}

.mg-t-2
{
    margin-top: 2px;
}

.mg-t-auto
{
    margin: auto 0px auto 0px;
}

.mg-l-4
{
    margin-left: 4px;
}

.mg-l-6
{
    margin-left: 6px;
}

.mg-l-10
{
    margin-left: 10px;
}

.mg-l-16
{
    margin-left: 16px;
}

.mg-l-25
{
    margin-left: 25px;
}

.mg-l-32
{
    margin-left: 32px;
}

.txt-blue
{
    color: #0073e6;
}

.txt-al-center
{
    text-align: center;
}

.h-auto
{
    height: auto;
}

.h-90
{
    height: 90% !important;
}

.h-10
{
    height: 10% !important;
}

.h-100
{
    height: 100% !important;
}

.h-65
{
    height: 65% !important;
}

.h-75
{
    height: 75% !important;
}

.txt-silver
{
    color: rgb(139, 138, 138);
}

.p-absolute
{
    position: absolute;
}

.color-blue-taskdetail
{
    color: #2196f3;
}

.j-space-between{
    justify-content: space-between;
}

.label
{
    padding: 8px 16px 8px 16px;
    border-radius: 10px;
}

.flex-1
{
    flex: 1;
}

.pd-8{
    padding: 8px;
}

.pd-16{
    padding: 16px;
}

.pd-10{
    padding: 10px;
}

.pd-l-8
{
    padding-left: 8px;
}

.pd-l-10
{
    padding-left: 8px;
}

.pd-tbt-8{
    padding: 8px 0px 8px 0px;
}

.fl-wrap
{
    flex-flow: wrap;
}

.bottom-border-silver{
    border-bottom: 1px solid silver;
}

.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
}

/* date pick */
.dp__menu_index
{
    z-index: 999999999999 !important;
}

.date-picker div[role="dialog"]
{
    width: 100%;
}

.date-picker .dp__calendar{
    width: 100%;
}

.date-picker .dp__calendar_header{
    width: 100%;
}

.date-picker .dp__calendar_header_item{
    text-align: unset;
}

.cl-red{
    color: red;
}

.cl-black{
    color: black;
}

.cl-white{
    color: white;
}

.pe-none
{
    pointer-events:none;
}

.fs-14{
    font-size: 14px;
}

.fs-15{
    font-size: 15px;
}

.fs-18{
    font-size: 18px;
}

.fs-24{
    font-size: 24px;
}

.fs-20{
    font-size: 20px !important;
}

.loadding-skeleton
{
    background: linear-gradient(
        120deg,
        #e5e5e5 30%,
        #f0f0f0 38%,
        #f0f0f0 40%,
        #e5e5e5 48%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 1s infinite;
}

@keyframes load {
    100%{
        background-position: -100% 0;
    }
}


