.file-icon
{
    background-image: url('../icon/ICON.svg');
}

.setting-icon{
    -webkit-mask-image: url('../icon/ICON.svg') !important;
    -webkit-mask-position: -580px -580px;
    width: 22px;
    height: 23px;
    background-color: white;
}

.app-icon{
    background-position: -608px -64px;
    width: 32px;
    height: 32px;
}

.bell-icon{
    background-position: -132px -132px;
    width: 23px;
    height: 25px;
}

.bell-white-icon{
    -webkit-mask-image: url('../icon/ICON.svg') !important;
    -webkit-mask-position: -132px -132px;
    width: 23px;
    height: 25px;
    background-color: white;
}

.bell-black-icon{
    background-position: -132px -132px;
    width: 23px;
    height: 25px;
}

.commnet-icon{
    background-position: -612px -100px;
    width: 23px;
    height: 23px;
}

.attachment-icon{
    background-position: -100px -36px;
    width: 24px;
    height: 24px;
}

.big-attachment-icon{
    background-position: -708px -612px;
    width: 24px;
    height: 24px;
}

.big-search-icon{
    background-position: -164px -132px;
    width: 26px;
    height: 26px;
}

.medium-search-icon{
    background-position: -200px -72px;
    width: 16px;
    height: 16px;
}

.refresh-icon{
    background-position: -515px -452px;
    width: 24px;
    height: 23px;
}

.home-icon{
    -webkit-mask-image: url('../icon/ICON.svg') !important;
    -webkit-mask-position: -36px -132px;
    width: 24px;
    height: 23px;
    background-color: white;
}

.black-home-icon{
    background-position: -36px -132px;
    width: 24px;
    height: 24px;
}

.big-white-search-icon{
    -webkit-mask-image: url('../icon/ICON.svg') !important;
    -webkit-mask-position: -164px -132px;
    width: 26px;
    height: 26px;
    background-color: white;
}

.big-black-search-icon{
    background-position: -164px -132px;
    width: 26px;
    height: 26px;
}

.task-myself-icon{
    -webkit-mask-image: url('../icon/ICON.svg') !important;
    -webkit-mask-position: -516px -132px;
    width: 24px;
    height: 23px;
    background-color: white;
}

.chart-icon{
    -webkit-mask-image: url('../icon/ICON.svg') !important;
    -webkit-mask-position: -644px -36px;
    width: 24px;
    height: 23px;
    background-color: white;
}

.compact-icon{
    background-position: -676px -644px;
    width: 24px;
    height: 24px;
}

.compact-menu-icon{
    -webkit-mask-image: url('../icon/ICON.svg') !important;
    -webkit-mask-position: -328px -104px;
    width: 16px;
    height: 16px;
    background-color: white;
}

.expand-menu-icon{
    -webkit-mask-image: url('../icon/ICON.svg') !important;
    -webkit-mask-position: -296px -104px;
    width: 16px;
    height: 16px;
    background-color: white;
}

.down-arrow-icon
{
    -webkit-mask-image: url('../icon/ICON.svg') !important;
    -webkit-mask-position: -234px -104px;
    width: 16px;
    height: 16px;
    background-color: white;
}

.up-arrow-icon
{
    -webkit-mask-image: url('../icon/ICON.svg') !important;
    -webkit-mask-position: -264px -104px;
    width: 16px;
    height: 16px;
    background-color: white;
}

.personal-group-icon
{
    background-position: -160px -352px;
    width: 32px;
    height: 32px;
}

.arrow-back-icon
{
    background-position: -200px -136px;
    width: 26px;
    height: 16px;
}

.plush-white-icon
{
    -webkit-mask-image: url('../icon/ICON.svg') !important;
    -webkit-mask-position: -164px -100px;
    width: 24px;
    height: 24px;
    background-color: white;
}

.more-feature-white-icon
{
    -webkit-mask-image: url('../icon/ICON.svg') !important;
    -webkit-mask-position: -740px -292px;
    width: 24px;
    height: 24px;
    background-color: white;
}

.more-feature-black-icon
{
    background-position: -740px -292px;
    width: 24px;
    height: 24px;
}

.datepicker-icon
{
    background-position: -196px -164px;
    width: 26px;
    height: 26px;
}

.child-task-icon
{
    background-position: -68px -36px;
    width: 26px;
    height: 26px;
}

.command-direct-icon
{
    background-position: -36px -36px;
    width: 26px;
    height: 26px;
}

.copy-link-icon
{
    background-position: -484px -356px;
    width: 26px;
    height: 26px;
}

.more-feature-icon{
    background-position: -356px -36px;
    width: 26px;
    height: 26px;
}

.exit-popup-icon
{
    background-position: -360px -104px;
    width: 16px;
    height: 16px;
}

.select-expire-time-icon
{
    background-position: -352px -224px;
    width: 32px;
    height: 32px;
}

.description-edit-icon
{
    background-position: -352px -224px;
    width: 32px;
    height: 32px;
}

.blue-description-edit-icon
{
    background-position: -425px -392px;
    width: 14px;
    height: 14px;
}

.check-list-icon
{
    background-position: -644px -580px;
    width: 24px;
    height: 24px;
}

.checked-icon
{
    -webkit-mask-image: url('../icon/ICON.svg') !important;
    -webkit-mask-position: -584px -424px;
    width: 16px;
    height: 16px;
    background-color: #28aa37!important;
}

.not-checked-icon
{
    -webkit-mask-image: url('../icon/ICON.svg') !important;
    -webkit-mask-position: -552px -424px;
    width: 16px;
    height: 16px;
    border: 1px solid #707070;
}

.plush-blue-icon
{
    background-position: -164px -164px;
    width: 24px;
    height: 24px;
}

.attach-label-icon
{
    background-position: -676px -612px;
    width: 24px;
    height: 24px;
}

.hole-trash-icon
{
    background-position: -580px -196px;
    width: 24px;
    height: 24px;
}

.exit-cirle-icon
{
    background-position: -550px -134px;
    width: 24px;
    height: 24px;
}

.add-label-detail-icon
{
    background-position: -96px -708px;
    width: 32px;
    height: 32px;
}

.delete-line-icon
{
    -webkit-mask-image: url('../icon/ICON.svg') !important;
    -webkit-mask-position: -740px -356px;
    width: 24px;
    height: 24px;
    background-color: red;
}

.blue-edit-icon
{
    -webkit-mask-image: url('../icon/ICON.svg') !important;
    -webkit-mask-position: -676px -356px;
    width: 24px;
    height: 24px;
    background-color: #2196f3;
}

.edit-icon
{
    background-position: -676px -356px;
    width: 24px;
    height: 24px;
}

.big-child-task-icon{
    background-position: -644px -612px;
    width: 26px;
    height: 26px;
}

.file-attach-icon{
    background-position: -612px -291px;
    width: 26px;
    height: 26px;
}

.more-feature-blue-icon
{
    -webkit-mask-image: url('../icon/ICON.svg') !important;
    -webkit-mask-position: -356px -36px;
    width: 24px;
    height: 24px;
    background-color: #2196f3;
}

.download-icon
{
    background-position: -648px -104px;
    width: 18px;
    height: 18px;
}

.remind-task-icon
{
    background-position: -292px -36px;
    width: 24px;
    height: 24px;
}

.created-by-icon{
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    background-position: -40px -104px;
}

.description-task-icon
{
    width: 24px;
    height: 24px;
    background-position: -740px -580px;
}

.big-white-filter-icon
{
    width: 24px;
    height: 24px;
    -webkit-mask-image: url('../icon/ICON.svg') !important;
    -webkit-mask-position: -292px -132px;
    background-color: white;
}

.checkbox-remind-icon
{
    background-color: #2196f3;  
    -webkit-mask-image: url('../icon/ICON.svg') !important;
    -webkit-mask-position: -584px -424px;
    width: 16px;
    height: 16px;
}

.black-down-arrow-icon{
    width: 16px;
    height: 16px;
    background-position: -232px -104px
}

.add-template-icon{
    width: 24px;
    height: 24px;
    background-position: -1252px -163px;
}

.green-tick-icon{
    background-color: #21f344;  
    -webkit-mask-image: url('../icon/ICON.svg') !important;
    -webkit-mask-position: -584px -104px;
    width: 16px;
    height: 16px;
}

.transparent-icon{
    background-color: transparent;  
    -webkit-mask-image: url('../icon/ICON.svg') !important;
    -webkit-mask-position: -584px -104px;
    width: 16px;
    height: 16px;
}

.add-group-task-icon{
    background-position: -420px -36px;
    width: 24px;
    height: 24px;
}

.lock-icon{
    background-position: -648px -164px;
    width: 16px;
    height: 24px;
}

.checkbox-blue-icon
{
    background-color: #2196f3;  
    -webkit-mask-image: url('../icon/ICON.svg') !important;
    -webkit-mask-position: -584px -424px;
    width: 16px;
    height: 16px;
}

.left-arrow-icon
{
    background-position: -484px -324px;
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
}


.right-arrow-icon
{
    background-position: -484px -324px;
    width: 24px;
    height: 24px;
    margin: -3px 5px 0;
}


