@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('./icon.css');
@import url('./common.css');
@import url('./button/buttonCommon.css');

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

#app{
    width: 100%;
    height: 100%;
    /* font-family: Avenir, Helvetica, Arial, sans-serif; */
}

ul{
    list-style: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(207, 207, 207);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(158, 158, 158);
  }