.add-grouptask-form{
    width: 100%;
    height: 100%;
}

.add-grouptask-form .footer{

}

.add-grouptask-form .body-content
{
    width: 100%;
    height: auto;
}

.add-grouptask-form .list-user
{
    width: 100%;
    border: 1px solid silver;
    max-height: 200px;
    min-height: 100px;
    overflow: auto;
    margin-top: 12px;
    border-radius: 0px 0px 8px 8px;
}

.add-grouptask-form .list-user .user-info{
    width: 50%;
}

.add-grouptask-form .list-user .user-avar{
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.add-grouptask-form .list-user .role-user
{
    width: 36%;
}