.task-detail
{
    width: 100%;
    height: 100%;
    color: #1f1f1f;
}

.task-detail .header-feature
{
    padding: 24px;
    width: 100%;
    border-bottom: 1px solid silver;
}

.task-detail .header-feature .lst-feature
{
    width: 200px
}

.task-detail .body-task
{
    width: 100%;
    height: auto;
}

.task-detail .body-task .primary-content
{
    width: 80%;
    height: 100%;
    border-right: 1px solid silver;
    padding: 8px 24px 24px;
}
.task-detail .body-task .not-primary-content
{
    width: calc(100% - 80% - 1px);
    height: 100%;
}

.task-detail .body-task .name-task
{
    font-size: 20px !important;
}

.task-detail .user-assigned{
    font-size: 13px !important;
    width: 100%;
    margin-top: .5rem;
}

.task-detail .user-assigned span{
    color: #2196f3;
    font-weight: 600;
}

.task-detail .primary-content .one-edit-item{
    height: 53px;
    border-radius: 8px;
    background-color: #f5f5f5;
}

.task-detail .one-edit-item:nth-child(1) .avatar
{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: red;
}

.task-detail .one-edit-item:nth-child(2) 
{
}

.task-detail .three-edit-task .header{

}

.task-detail .three-edit-task .check-all
{
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
    background-color: #f5f5f5;
}

.task-detail .three-edit-task .check-all:hover{
    background-color: #e1eeff;
}

.task-detail .three-edit-task .fake-content-cklst
{
    border: none;
    padding-left: 10px;
    font-size: 16px;
    outline: none;
    width: 100%;
}

.task-detail .three-edit-task .check-task
{
    position: relative;;
}

.task-detail .three-edit-task .check-task:hover
{
    background-color: #e1eeff;
}

.task-detail .three-edit-task 
.check-task .feature-line-checktask
{
    position: absolute;
    right: 12px;
}

.task-detail .three-edit-task 
.check-task:hover .feature-line-checktask
{
    display: block !important;
}

.task-detail .four-edit-task .lst-label
.label + .label
{
    margin-left: 6px;
}

.task-detail .four-edit-task .lst-label
.label
{
    position: relative;
    margin: 4px 0px 4px 0px;
}

.task-detail .four-edit-task .feature-label
{
    position: absolute;
    top: -8px;
    right: -8px;
}

.task-detail .four-edit-task .label:hover .feature-label
{
    display: block !important;
}

.five-edit-task .child-task{
    padding: 6px 20px 6px 12px;
    border-bottom: 1px solid silver;
    position: relative;
}

.five-edit-task .child-task:hover{
    background-color: #e1eeff;
}

.five-edit-task .child-task:hover .feature-line{
    display: flex !important;
}


.five-edit-task .child-task .feature-line{
    position: absolute;
    right: 12px;
    top: 0px;
    height: 100%;
}

.five-edit-task .add-child-task input{
    outline: none;
    padding: 8px 20px 8px 12px;
    border: none;
    border-bottom: 1px solid silver;
    width: 100%;
}

.six-edit-task .lst-attach-file .attach-file{
    margin: 8px 0px 0px 4px;
}