.modal .title-dialog{
    width: 100%;
    height: 60px;
    font-size: 24px;
    font-weight: 700;
    padding: 16px;
}

.modal .content-dialog{
    padding: 0px 20px 20px 20px;
}

.modal .footer-confirm-dialog{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal .footer-confirm-dialog button:nth-child(2){
    margin-right: 24px;
}

