.dropdown
{
    position: fixed;
    z-index: 9999999;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
}

.dropdown .arrow-droprown
{
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: 18px solid white;
    z-index: 999;
}

.dropdown .content-dropdown{
    position: relative;
    z-index: 99999;
    height: 100%;
    overflow: auto;
}

.dropdown .arrow-top
{
    border-color: transparent transparent white transparent;
    left: 50%;
    top: -14px;
    transform: translate(-50%,-50%);
}

.dropdown .arrow-bottom
{
    border-color: white transparent transparent transparent;
    left: 50%;
    bottom: -48px;
    transform: translate(-50%,-50%);
}

.dropdown .arrow-left
{
    border-color: transparent white transparent transparent;
    left: -14px;
    top: 50%;
    transform: translate(-50%,-50%);
}

.dropdown .arrow-right
{
    border-color: transparent transparent transparent white;
    right: -48px;
    top: 50%;
    transform: translate(-50%,-50%);
}