.attach-file
{
    height: 220px;
    width: 190px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid silver;
    position: relative;
}

.attach-file img{
    object-fit: contain;
    width: 100%;
    height: 70%;
    background-repeat: no-repeat;
}

.attach-file .file-attach-info{
    width: 100%;
    height: calc(100% - 70%);
    background-color: white;
}

.attach-file .file-display{
    height: 70%;
    width: 100%;
}

.attach-file .feature{
    position: absolute;
    right: 14px;
    top: 5px;
}

.attachfile-feature-item:hover{
    background-color: #e1eeff;
}