.local-combobox
{
    width: 100%;
}

.local-combobox .display-value-box
{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    position: relative;
}

.local-combobox .display-value-box:hover{
    cursor: pointer;
}

.local-combobox .custom-border-box
{
    border: 1px solid silver;
}

.local-combobox .custom-border-box:hover
{
    border: 1px solid #2196f3;
    box-shadow: 0px 0px 2px rgb(102, 102, 102);
}

.local-combobox .border-blue
{
    border: 1px solid #2196f3 !important;
    box-shadow: 0px 0px 2px rgb(102, 102, 102);
}

.local-combobox .display-value-box div:nth-child(1)
{
    width: 93%;
    padding: 7px 9px 8px 12px;
}

.local-combobox .disabled-input
{
    background-color: rgba(192, 192, 192, 0.329);
}

.local-combobox-select-item
{
    padding: 8px 9px 8px 12px;
    width: 100%;
}

.local-combobox-select-item:hover
{
    background-color: #e1eeff;
}


