.m-input{
    height: 70px;
    width: 100%;
}

.m-input input
{
    padding: 14px 14px 14px 14px;
    border: 1px solid silver;
    border-radius: 8px;
    font-size: 12px;
    width: 100%;
    outline: none;
}

.m-input input:focus
{
    border: 1px solid #2196f3;
    box-shadow: 0px 0px 2px rgb(102, 102, 102);
}

.error
{
    border: 1px solid red !important;
    box-shadow: 0px 0px 2px rgb(102, 102, 102);
}