.tab-view-background
{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    color: black;
}

.tab-view-background .header
{
    box-shadow: none !important;
    padding: 16px 24px 16px 24px;
    color: black;
}

.tab-view-background .header .tab-container
{
    border-bottom: 1px solid silver;
    position: relative;
}

.tab-view-background .header .tab-container .tab{
    padding: 12px;
    position: relative;
    top: 1px;
}

.tab-view-background .header .tab-container .tab-active{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: silver silver white silver;
    border-radius: 6px 6px 0px 0px;
}

.tab-view-background .body{
    padding: 16px 24px 16px 24px;
    margin: 20px 0px 40px 0px;
    height: calc(100% - 70px) !important;
    overflow: overlay;
}

.tab-view-background .body .tab-content
{
    width: 100%;
    height: 100%;
}

