.btn{
    outline: none;
    border: none;
    cursor: pointer;
    height: 40px !important;
    font-size: 15px !important;
    padding: 0px 16px !important;
    border-radius: 8px !important;
    border: 1px solid;
    text-align: center;
}

.btn-primary
{
    background-color: #2d99f1;
    color: #ffffff;
    border-color: transparent;
}

.btn-primary:hover{
    animation-name: btnPrimaryHover;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
}

@keyframes btnPrimaryHover {
    100%{
        background-color: #0f8aee;
    }
}

.btn-login
{
    background-color: #0073e6;
    color: #ffffff;
    border-color: transparent;
}

.btn-login:hover{
    animation-name: btnLoginHover;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
}

@keyframes btnLoginHover {
    100%{
        background-color: #0f8aee;
    }
}

.btn-icon
{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 15px !important;
    padding: 0px 16px !important;
    border-radius: 24px !important;
    text-align: center;
    height: 32px;
}

.btn-silver
{
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}

.bulkhead
{
    width: 2px;
    border: 1px solid white;
    height: 60%;
}